<%= require('views/partials/head.ejs')({
  title: "Citadels - Game",
  }) %>

<button class="start-game">Start game</button>


<%= require('./components/console.ejs')() %>

<%= require('./components/modal.ejs')() %>

<%= require('./components/player.ejs')() %>

<%= require('./components/characters.ejs')() %>


<%= require('views/partials/footer.ejs')() %>