<!DOCTYPE html>
<html lang="fr">

<%- include('../partials/head', {
  title: gameName + " lobbies",
  tags: [{
      type: "meta",
      attributes: {
        name: "game-name",
        content: gameName
      }
    }, {
      type: "link",
      attributes: {
        rel: "stylesheet",
        href: "lobby-styles.css"
      }
    }
  ]
}); %>

<h1>
  Lobbies for: <%= gameName %>
</h1>

<button class='create-lobby'>
  Create lobby of <%= gameName %>
</button>

<% for (const lobbyId in lobbies) { %>
<div class="lobby">
  <p><%= lobbyId %></p>
  <button id="<%= lobbyId %>">Join lobby</button>
</div>
<% } %>

<script src="lobbies-bundle.js"></script>

<%- include('../partials/footer'); %></input>